:root {
    --primary-pink: #ff51bf;
    --neutral-cyan: #eafaff;
    --neutral-dark-cyan: #00242d;
    --neutral-grayish-blue: #7f8d98;
    --neutral-white: #ffffff;
    --box-shadow-cyan: rgba(0, 36, 45, 0.4);
    --box-shadow-pink: rgba(255, 81, 191, 0.7);
}

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--neutral-white);
}

/* Typography */
.display1 {
    font-size: 1.5em;
    margin: 50px 0 30px 0;
}

.display2 {
    font-size: 1.25em;
    margin: 30px 0 20px 0;
}

.display3 {
    font-size: 1.125em;
    margin: 20px 0;
}

p {
    margin: 0 0 20px 0;
    line-height: 1.6;
}

/* Highlight */
.highlight {
    background-image: linear-gradient(to top,transparent 5%,#ff51bf 5%,#ff51bf 37%,transparent 37%);
}

/* Button Styles */
.btn--pink {
    background-color: transparent;
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 50px;
    border: 2px solid var(--primary-pink);
    cursor: pointer;
    outline: none;
}

.btn--pink:hover {
    background-color: var(--primary-pink);
    color: var(--neutral-white);
    transition: all 0.2s ease-out 0s;
}

.btn--blue {
    background-color: transparent;
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 50px;
    margin: 0 10%;
    border: 2px solid var(--neutral-dark-cyan);
    cursor: pointer;
    outline: none;
}

.btn--blue:hover {
    background-color: var(--neutral-dark-cyan);
    color: var(--neutral-white);
    transition: all 0.2s ease-out 0s;
}

/* Header */
header {
    background-image: url(../images/bg-hero-mobile.svg);
    background-attachment: fixed;
    padding: 20px 20px 80px 20px;
    height: 100vh;
}

#intro {
    transform: translate(0px, 20%);
    opacity: 0;
    transition: all 0.4s ease-out 0s;
}

#hamburger {
    display: initial;
    opacity: 1;
    transition: all 0.2s ease-out 0s;
}

.nav--container {
    width: 100%;
    position: fixed;
    background: var(--neutral-dark-cyan);
    color: var(--neutral-white);
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px;
    height: 100%;
    z-index: 10;
    overflow: hidden;
    transform: translate(100%, 0px);
    transition: all 0.3s ease-out 0s;
}

.nav__item {
    margin: 20px 0;
    font-size: 24px;
    font-weight: 700;
    position: relative;
}

a {
    text-decoration: none;
    color: var(--neutral-dark-cyan);
}

.line {
    background-color: var(--neutral-dark-cyan);
    width: 25px;
    height: 3px;
    margin: 0 0 5px 0;
}

#logo {
    width: 120px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 20px 0;
    flex-wrap: wrap;
}

/* Close Button */
#close {
    margin: 0 0 50px 0;
}

.first {
    background-color: var(--neutral-white);
    width: 25px;
    height: 3px;
    transform: rotate(45deg);
    position: absolute;
}

.last {
    background-color: var(--neutral-white);
    width: 25px;
    height: 3px;
    transform: rotate(-45deg);
}

/* Section */
section {
    padding: 20px;
    margin: 0 0 50px 0;
    overflow: hidden;
}

/* Features */
#features {
    transform: translate(20%, 0);
    opacity: 0;
    transition: all 0.4s ease-out 0s;
}

.features__img {
    width: 100%;
}

.features__card {
    background-color: var(--neutral-cyan);
    padding: 30px;
    margin: 0 0 50px 0;
    transform: translate(0, 0);
    transition: all 0.2s ease-out 0s;
}

.features__card:hover {
    transform: translate(0, -15px);
}

/* Banner */
#footer__banner {
    background-color: var(--neutral-cyan);
    text-align: center;
    margin: 0;
}

/* Footer */
footer {
    text-align: center;
    transform: translate(0, 20%);
    opacity: 0;
    transition: all 0.4s ease-out 0s;
}

#footer__contact {
    background-color: var(--neutral-dark-cyan);
    color: var(--neutral-white);
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
}

#email-input {
    color: var(--neutral-white);
    padding: 10px 15px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 95% 50%;
    border: 1px solid var(--primary-pink);
    outline: none;
}

#email-input::placeholder {
    color: var(--neutral-white);
}

.error--text {
    color: var(--primary-pink);
    font-size: 0.875em;
}

#send {
    background-color: var(--primary-pink);
    color: var(--neutral-white);
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 50px;
    margin: 20px 10%;
    cursor: pointer;
    border: none;
    outline: none;
    transition: all 0.2s ease-out 0s;
}

#send:hover {
    background-color: var(--neutral-cyan);
    color: var(--neutral-dark-cyan);
}

#location {
    display: block;
    margin: 0 0 20px 0;
}
/* Headings font-family: 'Poppins', sans-serif; */

@media (min-width: 768px) {
    /* Typography */
    .display1 {
        font-size: 2.125em;
        margin: 50px 0 30px 0;
    }

    .display2 {
        font-size: 1.5em;
        margin: 30px 0 20px 0;
    }

    .display3 {
        font-size: 1.25em;
        margin: 20px 0;
    }

    p {
        margin: 0 0 20px 0;
        line-height: 1.6;
    }

    /* Header  */
    header {
        background-image: url(../images/bg-hero-desktop.svg);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 100px;
    }

    #intro {
        padding: 0 40% 0 0;
        margin: 50px 0 0 0;
    }

    /* Navigation */
    #hamburger {
        display: none;
    }

    #close {
        display: none;
    }

    .nav--container {
        width: auto;
        background: transparent;
        color: var(--neutral-dark-cyan);
        position: initial;
        display: block;
        transform: none;
        padding: 0;
    }

    .nav__item {
        display: inline;
        margin: 0 0 0 30px;
        font-size: 1em;
        cursor: pointer;
        transition: all 0.2s ease-out 0s;
    }

    .nav__item:hover {
        color: var(--primary-pink);
    }

    /* Features */
    #features {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .features__card {
        width: 46%;
    }

    .features__img {
        height: 309px;
    }

    /* Footer */
    #email-input {
        margin: 0 20%;
    }

    #send {
        margin: 20px 30%;
    }

    #location {
        margin: 0 20% 20px 20%;
    }
}

@media (min-width: 1350px) {
    /* Typography */
    .display1 {
        font-size: 3.125em;
        margin: 50px 0 30px 0;
    }

    .display2 {
        font-size: 1.875em;
        margin: 30px 0 20px 0;
    }

    .display3 {
        font-size: 1.5em;
        margin: 20px 0;
    }

    p {
        margin: 0 0 20px 0;
        line-height: 1.6;
        font-size: 1.125em;
    }

    /* Header */
    header {
        padding: 50px;
    }

    #logo {
        width: 160px;
    }

    #intro {
        padding: 0 40% 0 0;
        margin: 150px;
    }

    /* Features */
    .features__card {
        width: 30%;
    }

    /* Footer */
    footer {
        background-color: transparent;
        color: var(--neutral-dark-cyan);
        display: flex;
        padding: 0;
    }

    #footer__banner {
        padding: 50px;
        width: 50%;
    }

    #footer__contact {
        background-color: var(--neutral-dark-cyan);
        color: var(--neutral-white);
        padding: 50px;
        margin: 0;
        width: 50%;
    }
}